@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

/* Header styles */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  z-index: 100;
  font-family: 'Quicksand', sans-serif;
  box-sizing: border-box;
}

/* Logo */
.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 50px;
  width: auto;
}

/* Navigation */
.nav {
  flex-grow: 1;
  text-align: center;
}

.nav-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.nav-links li {
  margin: 0 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: color 0.3s;
}

.nav-links a:hover {
  color: #ff6347;
  position: relative;
}

.nav-links a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  transition: width 0.3s ease;
}

.nav-links a:hover::after {
  width: 100%;
  left: 0;
  background: #ffffff;
}

/* Register Button */
.register-btn {
  padding: 10px 25px;
  font-size: 1rem;
  background-color: #002d48;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  white-space: nowrap;
  font-family: Quicksand;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.3s;
}

.register-btn:hover {
  background-color: #001e7f;
  transform: scale(1.1);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .nav-links {
    flex-direction: column;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .register-btn {
    font-size: 0.9rem;
  }
}
