@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

body {
  margin: 0;
  padding: 0;
  background-color: black;
  color: white;
  overflow-x: hidden;
  font-family: "Quicksand", sans-serif;
}

.home-container {
  min-height: 200vh;
}

.content {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 0px;
}

h1.centered-title {
  font-size: 5rem;
  text-align: center;
  animation: glitch 2s infinite;
  font-family: Verdana, Tahoma, sans-serif;
  margin: 0px;
}

h2.centered-title {
  font-size: 4rem;
  margin: 0;
  text-align: center;
  animation: glitch 1.5s infinite;
  font-family: Verdana, Tahoma, sans-serif;
}

h2 {
  text-align: center; /* Center the text */
  font-size: 2rem; /* Adjust the font size */
  color: #ffffff; /* White text to suit a dark background */
  margin: 2rem 0; /* Add spacing around the headings */
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Add a subtle shadow for better readability */
  animation: fadeIn 1s ease-in-out; /* Minimal fade-in animation */
}

.bottom-content {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

@media (min-width: 1200px) {
  h1.centered-title {
    font-size: 5.5rem;
  }
}

@media (max-width: 992px) {
  h1.centered-title {
    font-size: 5.5rem;
  }
}

@media (max-width: 768px) {
  h1.centered-title {
    font-size: 4.5rem;
  }
}

@media (max-width: 576px) {
  h1.centered-title {
    font-size: 2.2rem;
  }
}

/* Glitch Animation */
@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff0000, -2px -2px #00ff00;
  }
  25% {
    text-shadow: -3px 3px #00ff00, 3px -3px #ff0000;
  }
  50% {
    text-shadow: 2px -2px #ff0000, -2px 2px #00ff00;
  }
  100% {
    text-shadow: 0px 0px #ffffff;
  }
}

/* Scrollbar Styling */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #20232a;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #000000;
  border-radius: 10px;
  border: 2px solid #20232a;
}

::-webkit-scrollbar-thumb:hover {
  background: #000000;
}

/* Canvas */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
}

@keyframes glitch {
  0% {
    text-shadow: 2px 2px #ff0000, -2px -2px #00ff00;
  }
  25% {
    text-shadow: -3px 3px #00ff00, 3px -3px #ff0000;
  }
  50% {
    text-shadow: 2px -2px #ff0000, -2px 2px #00ff00;
  }
  100% {
    text-shadow: 0px 0px #ffffff;
  }
}

/* details section */

.details-section {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(217, 215, 215, 0.1);
  margin: 20px auto;
  max-width: 80%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  color: white;
  font-size: larger;
  text-align: center;
  font-weight: 500;
  position: relative;
}

.details-section::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to top left,
    transparent 20%,
    rgba(255, 255, 255, 0.2)
  );
  border-radius: 12px;
  pointer-events: none;
}

.details-section h2 {
  color: white;
  margin-bottom: 10px;
}

.details-section p {
  color: white;
  margin-bottom: 15px;
}

.details-section {
  transition: box-shadow 0.5s ease-in-out;
}

.details-section:hover {
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.642);
}

.details-section::after {
  transition: box-shadow 0.5s ease-in-out;
}

.details-section:hover::after {
  box-shadow: 0px 6px 15px rgba(255, 255, 255, 0.15);
}

/* faqs */
.faqs-section {
  padding: 20px;
  background: linear-gradient(
    to top left,
    transparent 20%,
    rgba(68, 66, 66, 0.8)
  );
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
}

.faqs-grid {
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  gap: 20px;
}

.faq-card {
  background: linear-gradient(
    to bottom right,
    transparent 10%,
    rgba(131, 123, 123, 0.2)
  );
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.faq-card:hover {
  transform: scale(1.01);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  background: linear-gradient(
    to bottom right,
    transparent 10%,
    rgba(131, 123, 123, 0.6)
  );
}

.faq-header {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  padding-inline: 20px;
  align-items: center;
}

.faq-header h3 {
  color: #ffffff;
  font-size: 1.2rem;
}

.arrow {
  font-size: 1.8rem;
  font-weight: bold;
  transition: transform 0.3s;
  rotate: 90deg;
  color: #ffffff;
}

.arrow.active {
  transform: rotate(180deg);
  color: #ffffff;
}

.faq-answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out;
  background: linear-gradient(
    to top left,
    transparent 10%,
    rgba(108, 108, 108, 0.9)
  );
  padding-inline: 20px;
}

.faq-answer.active {
  max-height: 200px;
  transition: max-height 0.3s ease-in-out;
  background: linear-gradient(
    to top left,
    transparent 10%,
    rgba(108, 108, 108, 0.9)
  );
  padding-inline: 20px;
}

.faq-answer p {
  color: #ffffff;
  font-size: 1rem;
}

.faq-card {
  overflow: hidden;
}

@media (max-width: 768px) {
  .faqs-grid {
    grid-template-columns: 1fr;
  }
}

/* team */

.meet-the-team-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
}

.meet-the-team-section h2 {
  color: #410083;
  margin-bottom: 10px;
}

.team {
  margin-bottom: 20px;
}

.team h3 {
  color: #666;
  margin-bottom: 5px;
}

.members {
  display: flex;
  justify-content: space-around;
}

.member {
  margin: 10px;
  width: calc(33.33% - 20px);
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.member h4 {
  color: #333;
  margin-bottom: 5px;
}

.member p {
  color: #666;
}

/* sponsors section */

.sponsors-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
}

.sponsors-section h2 {
  color: #333;
  margin-bottom: 10px;
}

.sponsors {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sponsor {
  margin: 10px;
  width: calc(20% - 20px);
  text-align: center;
}

.sponsor img {
  width: 100%;
  height: 50px;
  object-fit: contain;
  margin-bottom: 10px;
}

.sponsor p {
  color: #666;
}

/* Speakers */

.speakers-section {
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  margin: 20px auto;
  max-width: 80%;
}

.speakers-section h2 {
  color: #333;
  margin-bottom: 10px;
}

.speakers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.speaker {
  margin: 10px;
  width: calc(20% - 20px);
  text-align: center;
}

.speaker img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 10px;
}

.speaker h4 {
  color: #333;
  margin-bottom: 5px;
}

.speaker p {
  color: #666;
}
